.form {
  width: 400px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;

  * {
    background: transparent;
    color: var(--white);
  }

  &__search {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--white);
    padding-bottom: 5px;
    margin-bottom: 15px;

    &__input {
      flex: 1 1 auto;

      &::placeholder {
        color: white;
        opacity: 0.7;
        padding-left: 3px;
      }
    }

    &__button {
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;

    &__autosuggest {
      // position: relative;
      z-index: 1;
      width: 220px;
      cursor: pointer;

      .autosuggest__dropdown {
        max-height: 130px; /* Adjust this value as needed */
        overflow-y: auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: rgba(5, 0, 0, 0.5);
        backdrop-filter: blur(7px);
        line-height: 25px;
        padding-top: 15px;
        border-bottom: 10px solid rgba(5, 0, 0, 0.5);
      }

      .autosuggest__dropdown::-webkit-scrollbar {
        display: none;
      }

      .autosuggest__dropdown {
        -ms-overflow-style: none; /* IE та Edge */
        scrollbar-width: none; /* Firefox */
      }

      .autosuggest__suggestionHighlighted {
        background-color: rgba(50, 0, 0, 0.9);
        font-size: 16px;
      }
    }

    &__row {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
      position: relative;
    }

    &__drop {
      border-bottom: 2px solid var(--white);
      padding-bottom: 5px;

      > option {
        color: var(--white);
        background: var(--black-red);
      }
    }

    &__button {
      border-bottom: 2px solid var(--white);
      position: absolute;
      padding-bottom: 5px;
      right: 0;
      top: 0;
    }

    &__input {
      width: 66px;
      border-bottom: 2px solid var(--white);
      padding-bottom: 5px;

      &::placeholder {
        color: white;
        opacity: 0.7;
        padding-left: 3px;
      }
    }

    &__person {
      width: 220px;
      border-bottom: 2px solid var(--white);
      padding-bottom: 5px;

      &::placeholder {
        color: white;
        opacity: 0.7;
        padding-left: 3px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
}
