.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  backdrop-filter: blur(2.5px);
}

.myModalContent {
  background-color: #fff;
  border-radius: 16px;
  min-width: 250px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.myModal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redBack{
  background-color: red;
  color: blue;
}
