.link {
  padding: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--white);
}

.link.active {
  color: red;
  font-weight: 700;
}

.nav{
  display: flex;
  justify-content: space-between;


  &__item{
    margin-right: 20px;
  }
  &__button{

  }
}
