.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 60px;
}

.item {
  flex: 1 0 21%; /* Кожен елемент займатиме близько 21% контейнера */
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 8px;

  img {
    border-top-left-radius: 5px; /* Округлення верхніх кутів зображення на 5 пікселів */
    border-top-right-radius: 5px; /* Округлення верхніх кутів зображення на 5 пікселів */
    transition: transform 0.3s ease; /* Додавання плавного переходу для зображення */
  }

  &:hover {
    box-shadow: 0 0 10px 8px rgba(192, 0, 0, 0.48); /* Ефект тіні при наведенні */
    transform: scale(1.05); /* Ефект збільшення при наведенні */
  }
}

.rate {
  position: absolute; /* Зроблено абсолютним */
  right: 10px; /* Вирівняно праворуч */
  bottom: 10px; /* Вирівняно внизу */
  display: block;
  width: 40px;
  height: 20px;
  background: var(--dark-red);
  font-weight: 500;
  font-size: 12px;
  color: var(--white);
  text-align: center; /* Додано вирівнювання тексту по центру */
  line-height: 20px;
  border-radius: 10px;
}

.info {
  height: 70px;
  background: var(--white);
  text-align: left;
  padding: 5px;
  line-height: 30px;
  font-weight: 700;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__title {
    color: var(--black);
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--dark-red);
  }
}

.img {
  width: 100%; /* Змушує зображення заповнювати доступний горизонтальний простір */
}

.poster-list__wrap {
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    flex: 1 0 46%; /* Два елемента в ряду для планшетів і мобільних */
  }
}

@media (max-width: 480px) {
  .item {
    flex: 1 0 100%; /* Один елемент в ряду для дуже малих екранів */
  }
}
