.header {
  background-image: url("../../images/HeaderCinemania.svg");

  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  height: 290px;

  &__item {
  }
}
